@font-face {
  font-family: "Radio Grotesk";
  src: url("../../../fonts/RadioGrotesk-Regular.woff2") format("woff2"),
    url("../../../fonts/RadioGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("../../../fonts/RadioGrotesk-Bold.woff2") format("woff2"),
    url("../../../fonts/RadioGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
